{% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: false, staticTop: false } %}
    {% block brand %}
        <a class="navbar-brand" href="{{path('accueil')}}">Stagia</a>
    {% endblock %}
        {% block menu_container %}
        <div class="collapse navbar-collapse navbar-responsive-collapse">
            {{ mopa_bootstrap_menu('main') }}
            {{ mopa_bootstrap_menu('user') }}
        </div>
        {% endblock %}      
{% endembed %}