Bonjour {{ name }},<br />
<br />
Votre sujet {{ sujet.nom }} à été validé ! <br />
<br />
Vous pouvez le consulter en <a href="{{path('sujet_show', { 'id':sujet.id } ) }}">cliquant ici </a><br />
<br />
Cordialement