{% extends '::base.html.twig' %}

{% set type = 'stage' %}
{% set search_path = 'stage_search' %}
{% set new_path = 'stage_new' %}

{% block headline %}
   LISTE DES STAGES
{% endblock %}
{% block title %}Stage{% endblock %}
{% block content %}
    <div id="{{type}}">
        {% include 'StagiaAppBundle:Stage:listeStage.html.twig' %}
    </div>
    {% include 'StagiaAppBundle:Sidebar:sidebar.html.twig' %}
    {% endblock %}

{% block raw_javascript %}
    {% include 'StagiaAppBundle:Javascript:recherche.js.twig' %}
{% endblock %}