{% extends '::base.html.twig' %}
{% block headline %}
    Liste des stages
{% endblock %}

{% block content %}
    <div class="col-md-9">
        {% for entity in entities %}
            {% include "StagiaAppBundle:Stage:stage.html.twig" with {'stage': entity} %}
        {% endfor %}
    </div>
    <div class="col-md-3">
        <a class="btn btn-default" href="{{ path('stage_new') }}" role="button">Créer un nouveau stage</a>
    </div>
    {% endblock %}
