<div class="col-md-8">
    {% for stage in stages %}
        {% include "StagiaAppBundle:Stage:stage.html.twig" with {'stage': stage} %}
    {% else %}
        <em class="vide">Pas de stages</em>
    {% endfor %}
</div>