{% extends 'MopaBootstrapBundle::base_initializr.html.twig' %}


    {% block head_style %}
        {% stylesheets filter="cssrewrite,lessphp"
            '@StagiaAppBundle/Resources/public/less/bootstrap.less'
        %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}
            <link href="/Stagia/web/css/glyphicons.css" type="text/css" rel="stylesheet" media="screen" />
    {% endblock head_style %}

    {% block navbar %}
        {% include "StagiaAppBundle:Menu:menu.html.twig" %}
    {% endblock %}
            
    {% block content_row %}
        <div class="row">
            <div class="col-sm-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
            
    {% block headline %}
            Stagia
    {% endblock %}

    {% block footer %} Stagia - 2015 {% endblock %}
    
