{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Vérification{% endblock %}
{% block headline %}Vérifier boite mail{% endblock %}

{% block content %}
    {% block fos_user_content %}
    <p>
    {{ 'resetting.check_email'|trans({'%email%': email}) }}
    </p>
    {% endblock %}
{% endblock %}