{% extends '::base.html.twig' %}

{% set type = 'memoire' %}
{% set search_path = 'memoire_search' %}
{% set new_path = 'memoire_new' %}

{% block headline %}
    LISTE DES MEMOIRES 
{% endblock %}
{% block title %}
    Mémoire
{% endblock %}

{% block raw_style %}
    <link href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" media="screen">
{% endblock %}

 {% block content %}
     {% if app.user %}
    <div class="row">
        <a class="btn btn-primary" href="{{ path(new_path) }}" role="button">Créer un nouveau {{type}}</a>
    </div>
    {% endif %}
    <div class="row" id="{{type}}">
        {% include 'StagiaAppBundle:Memoire:listeMemoire.html.twig' %}
    </div>
    {% endblock %}

{% block raw_javascript %}
<script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">    
 $(document).ready(function() {
     $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
    $('.memoires').DataTable( {
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.7/i18n/French.json"
        },
        initComplete: function () {
            var column = this.api().column(2);
            var select = $('<select><option value=""></option></select>')
                .appendTo( $(column.footer()).empty() )
                .on( 'change', function () {
                    var val = $.fn.dataTable.util.escapeRegex(
                        $(this).val()
                    );

                    column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                } );

            column.data().unique().sort().each( function ( d, j ) {
                select.append( '<option value="'+d+'">'+d+'</option>' )
            } );
        }
    } );
} );
</script>
{% endblock %}
