{% extends '::base.html.twig' %}

{% set type = 'memoire' %}
{% set search_path = 'memoire_search' %}
{% set new_path = 'memoire_new' %}

{% block headline %}
    Liste des mémoires
{% endblock %}
{% block title %}
    Mémoire
{% endblock %}

 {% block content %}
    <div id="{{type}}">
        {% include 'StagiaAppBundle:Memoire:listeMemoire.html.twig' %}
    </div>
    {% include 'StagiaAppBundle:Sidebar:sidebar.html.twig' %}
    {% endblock %}

{% block raw_javascript %}
    {% include 'StagiaAppBundle:Javascript:recherche.js.twig' %}
{% endblock %}
