{% extends '::base.html.twig' %}
{% block headline %}
    Liste des mémoires
{% endblock %}

{% block content %}
    <div class="col-md-9">
        {% if entities %}
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Année</th>
                        <th>Télécharger</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for entity in entities %}
                            <td>{{entity.nom}}</td>
                            <td>{{entity.description}}</td>
                            <td>{{entity.annee}}</td>
                            <td>download</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        {% else %}
            <em>Pas de mémoires</em>
        {% endif %}
    </div>
        <ul>
        <li>
            <a href="{{ path('memoire_new') }}">
                Envoyer un mémoire
            </a>
        </li>
    </ul>
    {% endblock %}
