{% extends '::base.html.twig' %}
{% block headline %}
    Liste des mémoires
{% endblock %}

{% block content %}
    <div class="col-md-9">
        {% for entity in entities %}
            {% include "StagiaAppBundle:Memoire:memoire.html.twig" with {'memoire': entity} %}
        {% else %}
            <em>Pas de mémoires</em>
        {% endfor %}
    </div>
        <ul>
        <li>
            <a href="{{ path('memoire_new') }}">
                Envoyer un mémoire
            </a>
        </li>
    </ul>
    {% endblock %}
