{% extends '::base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block headline %}
	{% image '@StagiaAppBundle/Resources/public/img/logo.png'
		 output='/img/logo.png' %}
		<img src="{{ asset_url }}" alt="Logo"/>
	{% endimage %}		
	<br/>STAGIA
{% endblock %}

{% block content %}
<div class="texte">
   Trouver votre stage avec Stagia, le site des stages et des stagiaires
</div>
{% endblock %}
    
    