
<footer class="text-center">
        <div class="footer-above">
            <div class="container" >
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>IBISC - IBGBI</h3>
                        <p>23, Bd de France<br>91034 - EVRY</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Suivez-nous</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Contact</h3>
                        <p>
							adm@stagia.fr
						</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright @ 2015 - Tous droits réservés
                    </div>
                </div>
            </div>
        </div>
</footer>