{% extends '::base.html.twig' %}
{% block title %}Modification{% endblock %}
{% block headline %}Modification du sujet : {{entity.nom}}{% endblock %}
{% block content -%}
    {{ form(edit_form) }}

    <ul class="record_actions">
    <li>
        <a href="{{ path('sujet') }}">
            Retour
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
