{% extends '::base.html.twig' %}

{% set type = 'sujet' %}
{% set search_path = 'sujet_search' %}
{% set new_path = 'sujet_new' %}

{% block title %}Sujets de mémoires{% endblock %}
{% block headline %}LISTE DES SUJETS DE MEMOIRE{% endblock %}
{% block content %}
    <div id="{{type}}">
        {% include 'StagiaAppBundle:Sujet:listeSujet.html.twig' %}
    </div>
    {% include 'StagiaAppBundle:Sidebar:sidebar.html.twig' %}
    {% endblock %}

{% block raw_javascript %}
    {% include 'StagiaAppBundle:Javascript:recherche.js.twig' %}
{% endblock %}
