{% extends '::base.html.twig' %}
{% form_theme form _self %}
{% block title %}Sujet de mémoire{% endblock %}
{% block headline %}Création d'un sujet de mémoire{% endblock %}

{% block content -%}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('sujet') }}">
            Retour
        </a>
    </li>
</ul>
{% endblock %}
