{% extends '::base.html.twig' %}

{% block content -%}
    <h1>Sujet creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('sujet') }}">
            Retour
        </a>
    </li>
</ul>
{% endblock %}
